* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1, p, h2, h3 {
    color: white;
}

p {
font-family: "proxima-nova", sans-serif;
font-weight: 400;
font-style: normal;
color: #636363;
font-size: 14px;
}

h1 {
font-family: "proxima-nova", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;
}

h2 {
font-family: "proxima-nova", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 15px;
}

.grid_1_1_1_1_1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1000px;
    gap: 25px;
    margin-bottom: 20px;
}

.grid_1_1_1_1_1 img {
    max-width: 100%;
    border-radius: 5%;
    margin-bottom: 15px;
}
