---
const {title, description, img} = Astro.props;
---

<article>
    <!-- <img src="{img}"> -->
    <slot />
    <h2>{title}</h2>
    <p>{description}</p>
</article>

<style>
    article {
        max-width: 200px;
        background-color: #181818;
        padding: 10px;
    }
</style>